<div class="container">
    <h1 class="text-center pb-4">Lista Blogów</h1>
   <div class="row d-flex gap-3">
       {{#each blogs}}
           <div class="card" style="width: 18rem;">
               <img src="/assets/img/img.jpg" class="card-img-top" alt="...">
               <div class="card-body">
                   <h5 class="card-title">{{this.title}}</h5>
                   <p class="card-text">{{this.shortDesc}}</p>
                   <div class="d-flex gap-3">
                       <a href="{{this.id}}" class="btn btn-primary">Learn More</a>
                   </div>

               </div>
           </div>
       {{/each}}
   </div>
    <div class="pt-4">
        <a href="/form/add" class="btn btn-success">Dodaj Bloga</a>
    </div>

</div>

