
<div class="container">
    <h2 class="text-center mb-3">Dodaj Bloga</h2>

    <form method="POST" action="/" enctype="multipart/form-data">
        <div class="form-floating mb-3">
            <input type="text" name="name" class="form-control" id="floatingInputDisabled" placeholder="name" maxlength="30 required >
            <label for="floatingInputDisabled">Imie</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" name="title" class="form-control" id="floatingInputDisabled" placeholder="Nagłówek" maxlength="40 required >
            <label for="floatingInputDisabled">Nagłówek</label>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" name="longDesc" placeholder="Leave a comment here" id="floatingTextarea2Disabled" style="height: 100px" required></textarea>
            <label for="floatingTextarea2Disabled">Treść</label>
        </div>
        <div class="input-group mb-3">
            <input class="form-control form-control-sm" name="img" id="formFileSm" type="file">
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-success" type="submit">Dodaj</button>
        </div>

    </form>
</div>